{% extends "base.html" %}

{% block titulo %} Editar usuario {% endblock %}

{% block contenido %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">BIENVENIDO <span style="color: red;">EXOTIQUI</span></h1>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../static/img/simple.jpg" class="bd-placeholder-img card-img-top" alt="" srcset="" width="300px" height="300" style="object-fit: cover;">

            <div class="card-body">
              <h4>Habitación simple</h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
                </div>
                <small class="text-muted">$1.0000.000</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../static/img/doble.jpg" class="bd-placeholder-img card-img-top" alt="" srcset="" width="300px" height="300" style="object-fit: cover;">

            <div class="card-body">
              <h4>Habitación doble</h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
                </div>
                <small class="text-muted">$2.000.000</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../static/img/triple.jpg" class="bd-placeholder-img card-img-top" alt="" srcset="" width="300px" height="300" style="object-fit: cover;">

            <div class="card-body">
              <h4>Habitación triple</h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
                </div>
                <small class="text-muted">$3.000.000</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../static/img/familiar.jpg" class="bd-placeholder-img card-img-top" alt="" srcset="" width="300px" height="300" style="object-fit: cover;">

            <div class="card-body">
              <h4>Habitación familiar</h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
                </div>
                <small class="text-muted">$4.000.000</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../static/img/suite.jpg" class="bd-placeholder-img card-img-top" alt="" srcset="" width="300px" height="300" style="object-fit: cover;">

            <div class="card-body">
              <h4>Suite</h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
                </div>
                <small class="text-muted">$5.000.000</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../static/img/vip.jpg" class="bd-placeholder-img card-img-top" alt="" srcset="" width="300px" height="300" style="object-fit: cover;">

            <div class="card-body">
              <h4>Suite VIP</h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
                </div>
                <small class="text-muted">$20.000.000</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}