{% extends "base.html" %}

{% block titulo %} Lista de Usuarios {% endblock %}

{% block contenido %} 

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">GESTIÓN DE USUARIOS</h1>
    </div>
  </div>
</section>

<div class="card">
    <div class="card-header">
      <a class="btn btn-success" href="{% url 'crear' %}">Agregar nuevo usuario</a>
    </div>
    <div class="card-body">
      <h4 class="card-title">Usuarios</h4>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Contrasenha</th>
            <th>Gestionar</th>
          </tr>
        </thead>
        <tbody>

          {% for usuario in usuarios %}

          <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.correo }}</td>
            <td>{{ usuario.contrasenha }}</td>
            <td>
               <a class="btn btn-info" href="{% url 'editar' usuario.id %}" role="button">Editar</a>
               <a class="btn btn-danger" href="{% url 'eliminar' usuario.id %}" role="button">Borrar</a>
            </td>
          </tr>

          {% endfor %}

        </tbody>
      </table>

  </div>

{% endblock %}