{% extends "base.html" %}

{% block titulo %} Editar usuario {% endblock %}

{% block contenido %}

<!-- <div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">BIENVENIDO A <span style="color: red;">EXOTIQUI</span></h1>
        <p class="lead">Ingresar usuarios</p>
        <hr class="my-2">

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="">Empezar</a>
        </p>
    </div>
</div> -->

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Exotiqui</h1>
        <p class="lead text-muted">La mejor elección a la hora de reservar tu hotel</p>
        <!-- <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p> -->
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../static/img/simple.jpg" class="bd-placeholder-img card-img-top" alt="" srcset="" width="300px" height="300" style="object-fit: cover;">

            <div class="card-body">
              <h4>Habitación simple</h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../static/img/doble.jpg" class="bd-placeholder-img card-img-top" alt="" srcset="" width="300px" height="300" style="object-fit: cover;">

            <div class="card-body">
              <h4>Habitación doble</h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../static/img/triple.jpg" class="bd-placeholder-img card-img-top" alt="" srcset="" width="300px" height="300" style="object-fit: cover;">

            <div class="card-body">
              <h4>Habitación triple</h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../static/img/familiar.jpg" class="bd-placeholder-img card-img-top" alt="" srcset="" width="300px" height="300" style="object-fit: cover;">

            <div class="card-body">
              <h4>Habitación familiar</h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../static/img/suite.jpg" class="bd-placeholder-img card-img-top" alt="" srcset="" width="300px" height="300" style="object-fit: cover;">

            <div class="card-body">
              <h4>Suite</h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../../static/img/vip.jpg" class="bd-placeholder-img card-img-top" alt="" srcset="" width="300px" height="300" style="object-fit: cover;">

            <div class="card-body">
              <h4>Suite VIP</h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Reservar</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}